<div class="confidence">
    {% if page.confidence == "high" %}
        <p>Lucid</p>
        <img src="{{site.baseurl}}/assets/images/lucid.svg" alt="glass empty">
    {% endif %}
    {% if page.confidence == "med" %}
        <p>Nebulous</p>
        <img src="{{site.baseurl}}/assets/images/nebulous.svg" alt="glass half">
    {% endif %}
    {% if page.confidence == "low" %}
        <p>Delirious</p>
        <img src="{{site.baseurl}}/assets/images/delirious.svg" alt="glass full">
    {% endif %}
</div>