<hr>

<div class="footer">
    <img src="{{site.baseurl}}/assets/images/state-of-delirium.svg" alt="STATE OF DELIRIUM">
    <div class="footer-content">
        <div class="links">
            <a href="{{site.baseurl}}/sitemap.xml">Sitemap</a>
            <a href="{{site.baseurl}}/search.json">Search</a>
        </div>
        <div class="inspired">Inspired by <a href="https://vale.rocks">Vale</a>, <a href="https://gwern.net">Gwern</a>, <a href="https://turntrout.com">TurnTrout</a>, & <a href="https://maggieappleton.com/">Maggie Appleton</a></div>
    </div>
</div>