$acc-color-1: #65928b;
$acc-color-2: #a06390;

$title-font: "Merriweather";
$para-font: "WorkSans";
$code-font: "Fira Code";

$cursive-1: "Nothing You Could Do";
$cursive-2: "Shadows Into Light";
$special-char-font: "Special Chars";

$card-radius: 1rem;
$quote-offset: 1.5em;
$font-size: 1.15rem;
$alt-font-size: 1.025rem;

$para-spacing: 2rem;
$line-height: 1.7;
$alt-line-height: 1.5;
$heading-spacing: 2.5rem 0;

$tiny-font-size: 0.75rem;
$tiny-line-height: 1.36;

$min-width: 350px;