$prim-color: #e4dddd;
$acc-color-1: #65928b;
$acc-color-2: #a06390;
$page-color: #EFE9E3;
$edge-color: #c2a385;
$footnote-card-color: #e9e4dd;

$title-font: "Merriweather";
$title-color: #3b342e;
$para-font: "WorkSans";
$para-color: #121111;
$code-font: "Fira Code";

$cursive-1: "Nothing You Could Do";
$cursive-2: "Shadows Into Light";
$special-char-font: "Special Chars";

$card-radius: 1rem;
$quote-offset: 1.5em;
$font-size: 1.05rem;
$alt-font-size: 1.025rem;

$para-spacing: 1.45rem;
$line-height: 2.1;
$alt-line-height: 1.5;
$heading-spacing: 2.5rem 0;

$min-width: 350px;