$prim-color: #e4dddd;
$acc-color-1: #65928b;
$acc-color-2: #a06390;
$page-color: #EFE9E3;

$title-font: "Merriweather";
$title-color: #3b342e;
$para-font: "WorkSans";
$para-font-italic: "WorkSans-Italic";
$para-color: #121111;



@font-face {
    font-family: $title-font;
    src: url("/assets/fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
    font-family: $para-font;
    src: url("/assets/fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: $para-font-italic;
    src: url("assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
}


.currentNav {
    color: $acc-color-2 !important;
}

.content {
    margin: 0 20vw;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $page-color;
    min-width: 1000px;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem 5rem 3rem;
    height: 2rem;
    .logoText {
        flex-grow: 2;
        a > img {
            height: 3rem;
        }
    }
    a {
        display: inline-block;
        justify-self: flex-end;
        font-weight: bold;
        font-size: 1.1rem;
        font-family: $title-font;
    }
}

.about {
    margin: 0 0 10rem;
}

h1 {
    font-size: 2.3rem;
    text-align: center;
}
h2 {
    font-size: 1.2rem;
    
}
h1, h2 {
    font-family: $title-font;
    font-weight: 200;
    color: $title-color;
}

.dotted-underline, .underline {
    display: inline-table;
}

.dotted-underline:after, .underline:after {
    content: "";
    display: table-caption;
    caption-side: bottom;
    position: relative;
    margin-top:-0.15em;

}

.dotted-underline:after {
    border-bottom: 0.1em dotted $acc-color-1;
}

.underline:after {
    border-bottom: 0.1em solid $acc-color-2;
}

p {
    line-height: 1.6rem;
    font-family: $para-font;
    font-size: 1rem;
    color: $para-color;

    i {
        font-family: $para-font-italic;
    }
}

a, a:link, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: $acc-color-2;
}

.accent-2 {
    color: $acc-color-2;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    list-style: none;
    margin: 0;
    a {
        padding: 1rem;
        background-color: $prim-color;
        border-radius: 1rem;
        min-height: 10rem;
        overflow: hidden;
        flex: 1 1 20ch;

        h2 {
            padding: 0;
            margin: 0 0 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

    a:hover {
        color: inherit;
        background: transparent;
        box-shadow: -1px -1px 5px $acc-color-2, 4px 4px 5px $acc-color-1;
    }
}

@media (max-width: 1200px) {
    ul {
        flex-direction: column;
    }
}