$prim-color: #e4dddd;
$acc-color-1: #65928b;
$acc-color-2: #a06390;
$page-color: #EFE9E3;
$edge-color: #c2a385;

$title-font: "Merriweather";
$italic-font: "Merriweather-Italic";
$title-color: #3b342e;
$para-font: "WorkSans";
$para-color: #121111;

$card-radius: 1rem;


@font-face {
    font-family: $title-font;
    src: url("../../assets/fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
    font-family: $italic-font;
    src: url("../../assets/fonts/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf");
}

@font-face {
    font-family: $para-font;
    src: url("../../assets/fonts/WorkSans-VariableFont_wght.ttf");
}



.currentNav {
    color: $acc-color-2 !important;
}

.content {
    margin: 0 20vw;
}

body, html {
    padding: 0;
    margin: 0;
    background-color: transparent;
    min-width: 1000px;
}

body, html, a {
    cursor: url("../../assets/images/cursor.svg"), auto;
}

.dither-bg {
    background-color: $page-color;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index:-1;
    
}

.dither-bg::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: radial-gradient($edge-color 50%, transparent 50%);
    background-size: 0.35rem 0.35rem;

    -webkit-mask-image: linear-gradient(
        to right, 
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0) 10%,
        rgba(0,0,0,0) 90%,
        rgba(0,0,0,1) 100%
    );
    mask-image: linear-gradient(
        to right, 
        black 0%,
        transparent 10% 90%,
        black 100%
    );

    opacity: 0.25;

    //animation: pan 40s linear infinite;
}

@keyframes pan {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 0% 100%;
    }
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 2rem 5rem 3rem;
    height: 2rem;
    .logo {
        flex: 1;
        font-family: $title-font;
        img {
            width: 8rem;
            height: auto;
        }
    }
    a {
        font-weight: bold;
        font-size: 1.1rem;
        font-family: $title-font;
    }
    .rss {
        img {
            width: 1.3rem;
            height: auto;
        }
        .rss-hover {display: none;}
        .rss-static {display: block;}
    }
    .rss:hover {
        .rss-hover {display: block;}
        .rss-static {display: none;}
    }
}

.about, .recentPosts, .buttons-wrapper {
    margin: 0 0 10rem;
}

h1 {
    font-size: 2.3rem;
    text-align: center;
}
h2 {
    font-size: 1.2rem;
    
}
h1, h2 {
    font-family: $title-font;
    font-weight: 200;
    color: $title-color;
}

.dotted-underline-1, .dotted-underline-2, .underline {
    display: inline-table;
}

.dotted-underline-1:after, .dotted-underline-2:after, .underline:after {
    content: "";
    display: table-caption;
    caption-side: bottom;
    position: relative;
    margin-top:-0.15em;

}

.dotted-underline-1:after {
    border-bottom: 0.1em dotted $acc-color-1;
}

.dotted-underline-2:after {
    border-bottom: 0.1em dotted $acc-color-2;
}

.underline:after {
    border-bottom: 0.1em solid $acc-color-2;
}

p {
    line-height: 1.6rem;
    font-family: $para-font;
    font-size: 1rem;
    color: $para-color;
}

i {
    font-family: $italic-font;
    font-weight: 200;
}

a, a:link, a:visited, a:active {
    color: $title-color;
    text-decoration: none;
}

a:hover {
    color: $acc-color-2;
}

.accent-2 {
    color: $acc-color-2;
}

ul {
    padding: 0;
    display: flex;
    gap: 1.5rem;

    list-style: none;
    margin: 0;
    a {
        display: flex;
        padding: 1rem;
        background-color: $prim-color;
        border-radius: $card-radius;
        min-height: 10rem;
        overflow: hidden;
        flex: 1;

        h2 {
            padding: 0;
            margin: 0 0 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

    a:hover {
        color: inherit;
        background: transparent;
        box-shadow: -1px -1px 5px $acc-color-2, 4px 4px 5px $acc-color-1;
    }
}

ul.vertical-list {
    flex-direction: column;
}

ul.grid-list {
    flex-direction: row;
}

@media (max-width: 1200px) {
    ul {
        flex-direction: column !important;
    }
}


.post-card {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    height: clamp(15rem, 25vh, 25rem);

    .post-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        p {
            flex: 1;
        }
    }

    img {
        border-radius: 0  $card-radius $card-radius 0;
    }
}

.post-wrapper {
    margin-inline: 8vw;
    min-width: 600px;
}

.buttons-wrapper {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    .buttons {
        display: grid;
        justify-content: center;
        gap: 15px;
        padding: 15px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        border-radius: $card-radius;

        outline: 0.2rem dotted $acc-color-2;

    }

}

::selection, ::-moz-selection, ::-webkit-selection {
  background-color: $acc-color-1;
  color: $page-color;
}

hr {
    border: none;
    margin-top: 6rem;
    width: 80%;
    display: block;
    border-top: 0.2rem dotted $edge-color !important;
}

.footer {
    margin: 2rem 15% 2rem 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 10rem;
        height: auto;
    }
    a {
        font-family: $para-font;
        font-size: 0.95rem;
    }
}

.fleuron {
    margin: 5rem 0 5rem 0;
    text-align: center;
    img {
        height: 1.8rem;
        width: auto;
    }
    font-size: 1.95rem;
    color: $acc-color-1;

}