$prim-color: #e4dddd;
$acc-color-1: #65928b;
$acc-color-2: #a06390;
$page-color: #EFE9E3;
$edge-color: #c2a385;
$footnote-card-color: #e9e4dd;

$title-font: "Merriweather";
$title-color: #3b342e;
$para-font: "WorkSans";
$para-color: #121111;

$cursive-1: "Nothing You Could Do";
$cursive-2: "Shadows Into Light";
$special-char-font: "Special Chars";

$card-radius: 1rem;
$quote-offset: 1.5em;

$para-spacing: 1.5em;
$line-height: 1.8em;

$min-width: 350px;

:root {
    --blog-margin-inline: 0;
    --content-margin-inline: 20vw;
    --gradient-width: 10%;
}

// Fonts
/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
@font-face {
  font-display: swap;
  font-family: $title-font;
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/merriweather.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: $title-font;
  font-style: italic;
  font-weight: 300;
  src: url('../../assets/fonts/merriweather-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: $para-font;
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/work-sans.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: $para-font;
  font-style: italic;
  font-weight: 400;
  src: url('../../assets/fonts/work-sans-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: $para-font;
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/work-sans-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: $para-font;
  font-style: italic;
  font-weight: 600;
  src: url('../../assets/fonts/work-sans-600italic.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: $cursive-1;
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/nothing-you-could-do.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: $cursive-2;
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/shadows-into-light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: $special-char-font;
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/special-char.woff2') format('woff2');
}

// Media queries for margins/text
@media only screen and (max-width: 600px) { 
    html { font-size: 75%;}
    :root{--blog-margin-inline: 2vw;
    --content-margin-inline: 7vw;}
}
@media only screen and (max-width: 768px) and (min-width: 600px) { 
    html { font-size: 80%;}
    :root{--blog-margin-inline: 2vw;
    --content-margin-inline: 10vw;}
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    html {font-size: 85%;}
    :root{--blog-margin-inline: 2vw;
    --content-margin-inline: 10vw;}
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    html {font-size: 90%;}
    :root{--blog-margin-inline: 2vw;
    --content-margin-inline: 15vw;}
}
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    html {font-size: 95%;}
    :root{--blog-margin-inline: 4vw;
    --content-margin-inline: 15vw;}
}
@media only screen and (max-width: 1600px) and (min-width: 1400px) {
    html {font-size: 100%;}
    :root{--blog-margin-inline: 6vw;
    --content-margin-inline: 15vw;}
}
@media only screen and (max-width: 1800px) and (min-width: 1600px) {
    html {font-size: 100%;}
    :root {--blog-margin-inline: 6vw;
    --content-margin-inline: 20vw;}
}
@media only screen and (min-width: 1800px) {
    html {font-size: 100%;}
    :root {--blog-margin-inline: 8vw;
    --content-margin-inline: 20vw;}
}
// Media queries for other stuff
@media only screen and (max-width: 600px) {
    .buttons-wrapper {scale: 0.8;}
    .footer {margin: 1rem 0 5% 0 !important;}
    :root {--gradient-width: 5%;}
}
@media only screen and (max-width: 768px) {
    .image-wrapper {visibility: collapse;}
}
@media only screen and (max-width: 992px) {
    .footer {margin: 1rem 3rem 5% 3rem !important;}
    hr {width: 90% !important;}
    nav {padding-inline: 2rem !important;}
    :root {--gradient-width: 8.5%;}
    .marginalia {display: none;}
}
@media only screen and (max-width: 1200px) {
    .recentPosts > ul {flex-direction: column !important;}
}

@media only screen and (min-width: 1600px) {
    :root {--gradient-width: 15%;}
}

.content {
    margin-inline: var(--content-margin-inline);
}

.currentNav {
    color: $acc-color-2 !important;
}

*:focus-visible{
    outline: 0.2rem dotted $acc-color-2;
}

body, html {
    padding: 0;
    margin: 0;
    min-width: $min-width;
    position: relative;
}

body, html, a {
    cursor: url("../../assets/images/cursor.svg"), auto;
}

.dither-bg {
    background-color: $page-color;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index:-1;
}

.dither-bg::before {
    content: "";
    position: fixed;
    height: 100%;
    inset: 0;
    background-image: radial-gradient($edge-color 50%, transparent 50%);
    background-size: 0.35rem 0.35rem;
    $gradient: linear-gradient(
        to right, 
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0.15) var(--gradient-width) calc(100% - var(--gradient-width)),
        rgba(0,0,0,1) 100%
    );
    -webkit-mask-image: $gradient;
    mask-image: $gradient;
    opacity: 0.3;
}


nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 2rem 5rem 3rem;
    height: 2rem;
    .logo {
        flex: 1;
        font-family: $title-font;
        img {
            width: 8.5rem;
            height: auto;
        }
    }
    a {
        font-weight: bold;
        font-size: 1.1rem;
        font-family: $title-font;
    }
    .rss {
        img {
            width: 1.3rem;
            height: auto;
        }
        .rss-hover {display: none;}
        .rss-static {display: block;}
    }
    .rss:hover {
        .rss-hover {display: block;}
        .rss-static {display: none;}
    }
}

nav {
    a, a:link, a:visited, a:active {
        color: $title-color;
    }
    a:hover {
        color: $acc-color-2;
    }
}

.about, .recentPosts, .buttons-wrapper {
    margin: 0 0 10rem;
}

h1 {
    font-size: 2.3rem;
    text-align: center;
}
h2 {
    font-size: 1.3rem;  
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.1rem;
}
h1, h2, h3, h4 {
    font-family: $title-font, Georgia, serif;
    font-weight: 300;
    color: $title-color;
}

.dotted-underline-1, .dotted-underline-2, .underline {
    display: inline-table;
}

.dotted-underline-1:after, .dotted-underline-2:after, .underline:after {
    content: "";
    display: table-caption;
    caption-side: bottom;
    position: relative;
    margin-top:-0.15em;

}

.dotted-underline-1:after {border-bottom: 0.115em dotted $acc-color-1;}
.dotted-underline-2:after {border-bottom: 0.115em dotted $acc-color-2;}
.underline:after {border-bottom: 0.115em solid $acc-color-2;}

p {
    line-height: $line-height;
    font-family: $para-font, $special-char-font, Arial, sans-serif;
    font-size: 1rem;
    color: $para-color;
}

a, a:link, a:visited, a:active {
    color: $acc-color-1;
    text-decoration: none;
}

a:hover {
    color: $acc-color-2;
}

a[rel*="external"]:not(.no-indicator)::after {
    content: "↗";
    font-family: $special-char-font;
    font-size: 0.8em;
    position: relative;
    bottom: 0.55em;
    left: 0.1ch;
    line-height: normal;
}

.marginalia {
    position: absolute;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    z-index: -1;
    opacity: 0.5;
}

.accent-1 {
    color: $acc-color-1;
}

.accent-2 {
    color: $acc-color-2;
}

ul {
    padding: 0;
    display: flex;
    gap: 1.5rem;

    list-style: none;
    margin: 0;
    li {
        position: relative;
        padding: 1rem;
        background-color: $prim-color;
        border-radius: $card-radius;
        min-height: 10rem;
        overflow: hidden;
        flex: 1;

        h2 {
            padding: 0;
            margin: 0 0 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

    li:hover {
        background: $page-color;
        box-shadow: -1px -1px 4px $acc-color-2, 2px 2px 4px $acc-color-1;
    }
}

ul.vertical-list {
    flex-direction: column;
}

ul.grid-list {
    flex-direction: row;
}

.posts-header {
    min-width: var(--blog-min-width);
    margin-inline: var(--blog-margin-inline);
    display: flex;
    justify-content: space-between;
    align-items: center;
    #search-container{
        display: flex;
        justify-self: flex-end;
        height: 2.5rem;
        #search-input {
            flex: 1;
            padding-left: 2ch;
            background-color: $prim-color;
            border-radius: $card-radius;
            font-family: $para-font;
            color: $title-color;
            font-size: 1rem;
            border: 0.1rem dotted $acc-color-1;
            box-shadow: 1px 1px 1px $acc-color-1;
        }
        #search-input:focus {
            outline: none;
            border: 0.1rem dotted $acc-color-2;
            box-shadow: 1px 1px 1px $acc-color-2;
        }
    }
}

#results-container {
    margin-inline: var(--blog-margin-inline);
}

#results-container > li {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;

    .post-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        .post-excerpt {
            flex: 1;
        }
    }

    .image-wrapper {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            border-radius: $card-radius;
            width: 100%;
            height: auto;
        }
    }
}

.post-wrapper {
    display: inline-block;
    height: fit-content;
    padding-right: 1rem;
}

.buttons-wrapper {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    .buttons {
        display: grid;
        justify-content: center;
        gap: 15px;
        padding: 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        border-radius: $card-radius;

        outline: 0.2rem dotted $acc-color-2;
        img {
            image-rendering: pixelated;
        }
    }
}

::selection, ::-moz-selection, ::-webkit-selection {
  background-color: $acc-color-1;
  color: $page-color;
}

hr {
    border: none;
    margin-top: 6rem;
    width: 80%;
    display: block;
    border-top: 0.2rem dotted $edge-color !important;
}

footer {
    margin: 2rem 15% 2rem 15%;
    display: flex;
    justify-content: space-between;
    img {
        width: 10rem;
        height: auto;
    }
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: $para-font;
    font-size: 0.8rem;
    justify-content: space-between;
    .links {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: repeat(3 , 1fr);
        width: fit-content;
        justify-items: center;
        font-size: 0.95rem;
    }
}

.fleuron {
    margin: 5rem 0 5rem 0;
    text-align: center;
    img {
        height: 1.75rem;
        width: auto;
    }
    font-size: 1.9rem;
    color: $acc-color-1;

}

.blog-post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .confidence {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1ch;
        img {
            width: 1rem;
            height: auto;
        }
    }

    .reading-time {
        text-align: end;
    }
}

.blog-post-info > * {
    flex: 1;
}

.blog-post-content {
    p {
        margin-block: $para-spacing;
    }
}

.footnote {
    margin: 0 0.1ch 0 0.3ch;
}

sup[id^="fnref:"]:target {
    scroll-margin-top: 400px;
    animation: footnote-bg-flash 1s;
    animation-iteration-count: 1;
    .footnote {
        animation: footnote-text-flash 1s;
        animation-iteration-count: 1;
    }
}

li[id^="fn:"]:target {
    .reversefootnote {
        animation: footnote-text-flash 1s;
        animation: footnote-bg-flash 1s;
        animation-iteration-count: 1;
    }
}

@keyframes footnote-bg-flash {
    from {background-color: $acc-color-1;}
    to {background-color: transparent;}
}

@keyframes footnote-text-flash {
    from {color: $page-color;}
    to {color: $acc-color-1;}
}

.footnotes {
    margin: 2rem 0 5rem 0;
    font-family: $para-font;
}

blockquote {
    margin-left: $quote-offset;
    position: relative;
    P {
        color: $title-color;
        font-style: italic;
    }
}

blockquote::before {
    content: "";
    position: absolute;
    height: 100%;
    left: -$quote-offset;
    border-left: 0.2em solid $acc-color-1;
    border-radius: $card-radius;
}

.footnote-card {
    position: absolute;
    border-radius: 0.5rem;
    background: $footnote-card-color;
    padding: 1ch 1.5ch 1ch 1.5ch;
    z-index: 9999;
    width: fit-content;
    max-width: 15%;

    font-family: $para-font;
    font-size: 0.75rem;
    line-height: $line-height * 0.75;
    color: $para-color;
    border: 1px dotted $acc-color-2;
    box-shadow: 1px 1px 1px $acc-color-2;
}

.blog-post-content {
    .center {
        display: flex;
        justify-content: center;
    }
    .right {
        display: flex;
        justify-content: flex-end;
    }
    .left {
        display: flex;
        justify-content: flex-start;
    }
}

.invis-card-link {
    position: absolute;
    inset: 0;
    opacity: 0;
}