---
---
@import "const";

$string-color: #318f2a;
$num-color: #b1345e;

.highlight .c { color: $edge-color; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: $acc-color-2} /* Keyword */
.highlight .o { color: $acc-color-2} /* Operator */
.highlight .cm { color: $edge-color; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $edge-color;} /* Comment.Preproc */
.highlight .c1 { color: $edge-color; font-style: italic } /* Comment.Single */
.highlight .cs { color: $edge-color; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: $edge-color } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: $acc-color-2; } /* Keyword.Constant */
.highlight .kd { color: $acc-color-2; } /* Keyword.Declaration */
.highlight .kp { color: $acc-color-2; } /* Keyword.Pseudo */
.highlight .kr { color: $acc-color-2; } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: $num-color } /* Literal.Number */
.highlight .s { color: $string-color } /* Literal.String */
.highlight .na { color: $acc-color-1 } /* Name.Attribute */
.highlight .nb {  } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: $acc-color-1 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: $acc-color-1; } /* Name.Exception */
.highlight .nf { color: $acc-color-1; } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: $acc-color-1 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: $num-color } /* Literal.Number.Float */
.highlight .mh { color: $num-color } /* Literal.Number.Hex */
.highlight .mi { color: $num-color } /* Literal.Number.Integer */
.highlight .mo { color: $num-color } /* Literal.Number.Oct */
.highlight .sb { color: $string-color } /* Literal.String.Backtick */
.highlight .sc { color: $string-color } /* Literal.String.Char */
.highlight .sd { color: $string-color } /* Literal.String.Doc */
.highlight .s2 { color: $string-color } /* Literal.String.Double */
.highlight .se { color: $string-color } /* Literal.String.Escape */
.highlight .sh { color: $string-color } /* Literal.String.Heredoc */
.highlight .si { color: $string-color } /* Literal.String.Interpol */
.highlight .sx { color: $string-color } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: $string-color } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: $edge-color } /* Name.Builtin.Pseudo */
.highlight .vc { color: $acc-color-1 } /* Name.Variable.Class */
.highlight .vg { color: $acc-color-1 } /* Name.Variable.Global */
.highlight .vi { color: $acc-color-1 } /* Name.Variable.Instance */
.highlight .il { color: $num-color } /* Literal.Number.Integer.Long */
.highlight .dl { color: $string-color } /* quotes */