<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" href="/assets/images/favicon.svg" type="image/x-icon">   
  </head>


  <body>
    <div class="dither-bg"></div>
    
    {% include navigation.html %}
    
    <div class="content">
      {{ content }}
    </div>

    {% if page.show_footer %}
      {% include footer.html %}
    {% endif %}
    
  </body>


</html>