<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="text-scale" content="scale" />
    <meta name="msvalidate.01" content="993ECE77313727C6D6519F5ADA9B062E" />

    {% if page.title == "Home" %}
      <title>State of Delirium</title>
      <meta property="og:title" content="State of Delirium">
      <meta name="twitter:title" content="State of Delirium">
    {% else %}
      <title>{{ page.title }} - {{ site.title }}</title>
      <meta property="og:title" content="{{ page.title }}">
      <meta name="twitter:title" content="{{ page.title }}">
    {% endif %}

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta property="og:description" content="{{ page.description }}">
      <meta name="twitter:description" content="{{ page.description }}">
    {% elsif page.excerpt %}
      <meta name="description" content="{{ page.excerpt }}">
      <meta property="og:description" content="{{ page.excerpt }}">
      <meta name="twitter:description" content="{{ page.excerpt }}">
    {% endif %}

    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="https://state-of-delirium.github.io/assets/images/ogimage.webp">
    <meta property="og:type" content="website">

    <meta property="twitter:url" content="{{ page.url }}">
    <meta name="twitter:image" content="https://state-of-delirium.github.io/assets/images/ogimage.webp">
    <meta property="twitter:domain" content="state-of-delirium.github.io">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="preload" href="{{site.baseurl}}/assets/fonts/merriweather.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{site.baseurl}}/assets/fonts/worksans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{site.baseurl}}/assets/fonts/worksans-italic.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/highlighting.css">

    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{site.baseurl}}/assets/images/favicons/favicon.svg" />
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Delirium" />
    <link rel="manifest" href="{{site.baseurl}}/site.webmanifest" />
  </head>


  <body>
    <div class="dither-bg"></div>
    
    {% include navigation.html %}

    <div class="content">
      {{ content }}
    </div>

    {% if page.show_footer %}
      {% include footer.html %}
    {% endif %}
    
  </body>


</html>